respawn
console none

description "Gunicorn server for {{ host }}"

{% if host == "localhost" %}
start on vagrant-mounted
{% else %}
start on (filesystem and net-device-up IFACE!=lo)
{% endif %}
stop on shutdown

respawn

{% if host == "localhost" %}
chdir /{{ username }}/sites/{{ host }}/source/portfolio
{% else %}
chdir /home/{{ username }}/sites/{{ host }}/source/portfolio
{% endif %}
exec ../../virtualenv/bin/gunicorn \
    --access-logfile ../access.log \
    --error-logfile ../error.log \
    --env DJANGO_SETTINGS_MODULE="{{ settings }}" \
    portfolio.wsgi:application
