server {
  listen 80;

  server_name {{ host }};
  client_max_body_size 5M;

  location /static {
    {% if host == "localhost" %}
    alias /{{ username }}/sites/{{ host }}/source/static;
    {% else %}
    alias /home/{{ username }}/sites/{{ host }}/source/static;
    {% endif %}
  }

  location / {
    {% if host == "localhost" %}
    proxy_set_header Host $host:8080;
    {% else %}
    proxy_set_header Host $host;
    {% endif %}
    proxy_pass http://localhost:8000/;
  }
}
