server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;

    root /home/{{ username }}/src/;
    index index.php index.html index.htm;

    server_name localhost;

    location / {
        try_files $uri $uri/ =404;
        proxy_set_header Host $host:8080;
        proxy_pass http://localhost:8000/;
    }

    location ~ [^/]\.php(/|$) {
      fastcgi_split_path_info ^(.+?\.php)(/.*)$;
      if (!-f $document_root$fastcgi_script_name) {
          return 404;
      }

      # Mitigate https://httpoxy.org/ vulnerabilities
      fastcgi_param HTTP_PROXY "";

      # fastcgi_pass 127.0.0.1:8000;
      fastcgi_pass unix:/var/run/php5-fpm.sock;
      fastcgi_index index.php;
      include fastcgi_params;
  }

}